@page "/todo"
@using BlazorEventsTodo.Todo
@inject HttpClient Http

<h3>Todo</h3>

<input placeholder="Something todo" @bind="newTodoTitle" />
<button @onclick="AddTodo">Add todo</button>

<ul>
    @foreach (var todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

@code {
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodoTitle;

    protected override async Task OnInitializedAsync()
    {
        await RefreshTodoList();
    }

    private async Task RefreshTodoList()
    {
        todos = await Http.GetFromJsonAsync<List<TodoItem>>("/api/todo");
    }

    private async Task AddTodo()
    {
        if (string.IsNullOrWhiteSpace(newTodoTitle))
            return;

        var res = await Http.PostAsJsonAsync("/api/todo", new CreateTodo() { Title = newTodoTitle });
        res.EnsureSuccessStatusCode();
        newTodoTitle = string.Empty;

        await RefreshTodoList();
    }
}
